.ant-select-selector {
  background-color: #1a1f29 !important;
  height: 40px !important;
  align-items: center;
  outline: none !important;
}

// .ant-select-item-option-content {
//   font-size: 12px !important;
// }

// .ant-select-selector {
//   background-color: #47556980 !important;
//   border: none !important;
//   color: #fff !important;
// }

// .ant-select-selection-item {
//   color: #fff !important;
// }

// .ant-select-item:hover {
//   background-color: #1c232db7 !important;
// }

// .ant-select-item-option-content {
//   color: #fff;
// }

// .ant-select-item-option-selected {
//   background-color: #3b82f6 !important;
// }

// .ant-select-dropdown {
//   background-color: #475569 !important;
//   color: white !important;
// }

// .ant-select-arrow {
//   color: white !important;
// }
