@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

::-webkit-scrollbar {
	width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #24c3bc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	/* background: 1945.846px 1683.603px / -196.111% -160.942% no-repeat;
	background-image: url("/bg.png"); */
	background: no-repeat url("/bg.png");
	background-size: cover;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	/* color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb)); */
}

* {
	font-family: Roboto !important;
}

.bg-gradient-status-upcoming {
	background-image: linear-gradient(
		to right,
		rgba(97, 179, 255, 0.15) 0%,
		rgba(97, 179, 255, 0.15) 100%
	);
}

.bg-dark {
	background-color: #2d3244d9;
}
