.ant-checkbox-input {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 24px !important;
  height: 24px !important;
}

.ant-checkbox-inner {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 24px !important;
  height: 24px !important;
}

.ant-checkbox-inner:after {
  inset-inline-start: 35% !important;
}
